// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

.application
  a
    text-decoration: none
code
  color: #4d4d4c;
  box-shadow: none;
code:after, code:before
  content: none;
body > code 
  display: none;